.EmotionItem {
  background-color: #f0f0f0;
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.EmotionItem .emotion_img {
  width: 50%;
  cursor: pointer;
  margin-bottom: 10px;
}

.selected_1 {
  background-color: rgb(100, 201, 100);
  color: white;
}
.selected_2 {
  background-color: rgb(157, 215, 114);
  color: white;
}
.selected_3 {
  background-color: rgb(253, 206, 23);
  color: white;
}
.selected_4 {
  background-color: rgb(253, 132, 70);
  color: white;
}
.selected_5 {
  background-color: rgb(253, 86, 95);
  color: white;
}
