@font-face {
  font-family: "nanumPenScript";
  src: url("/public/NanumPenScript-Regular.ttf");
}

html,
body {
  margin: 0px;
  width: 100%;
  background-color: rgb(226, 226, 226);
}

#root {
  background-color: white;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 0px 20px;
}

body {
  font-family: "nanumPenScript", sans-serif;
}
